.dsp-song-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    background-color: rgb(31, 88, 88);
    min-height: 100px;
    border-radius: 10px;
}

.dsp-song-container:hover {
    background-color: rgb(50, 130, 130);
    cursor: pointer;
}

.dsp-song-container > * {
    margin: 15px;
}