.playlist-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.playlist-list-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 65px;
}