.playlist-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 10px;
    width: 50%;
    background-color: rgb(31, 88, 88);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.playlist-card-container:hover {
    background-color: rgb(50, 130, 130);
}

.playlist-card-description {
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 16px;
    max-width:100%;
    overflow: hidden;
}

.playlist-add-button {
    margin-top: 15px;
    padding: 8px 12px;
    background-color: rgb(70, 130, 180);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

.playlist-add-button:hover {
    background-color: rgb(100, 160, 210);
    cursor: pointer;
}