.playlist-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlist-page-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}