name: Deploy Web App To Pi
run-name: Deploy App
on:
    push:
        branches: [ main ]
jobs:
    Deploy-App:
        runs-on: ubuntu-latest
        steps:
            - run: echo "${{ github.actor }}" Triggered the pipeline.

            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Set Up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Log into Dockerhub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PAT_TOKEN }}

            - name: Build Backend App Image
              uses: docker/build-push-action@v6
              with:
                context: ${{ github.workspace }}/src/backend
                file: ${{ github.workspace }}/src/backend/Dockerfile
                push: true
                tags: khutsokobela/cross-dsp-backend:latest
                platforms: linux/amd64,linux/arm64

            - name: Build Frontend App Image
              uses: docker/build-push-action@v6
              with:
                context: ${{ github.workspace }}/src/frontend/cross-dsp-web-app
                file: ${{ github.workspace }}/src/frontend/cross-dsp-web-app/Dockerfile
                push: true
                tags: khutsokobela/cross-dsp-frontend:latest
                platforms: linux/amd64,linux/arm64
                build-args:
                    #not really a secret - use secrets since varibles don't allow special chars
                    VITE_API_BASE_URL=${{ secrets.VITE_API_BASE_URL }}
